@import url(https://db.onlinewebfonts.com/c/0ddd355012a1ac3b118d3a1cf6813eab?family=Aller+Bold);
*{
    font-family: "Aller Bold";
}
html, body
{
    margin: 0;
    padding: 0;
}
#container{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    display:flex;
}
#gradient{
    background: linear-gradient(91deg, rgba(54, 54, 54, 0.03) -24.94%, #3C3C3C 99.37%);
    width:50vw;
    height:100vh;
}
#formContainer{
    width:50vw;
    height:100vh;
    background-color: rgba(54,54,54,0.97);
}
.bg{
    top:0%;
    left:0%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
}
#osuLogo{
    display:block;
    width: 15vw;
    margin-left:auto;
    margin-right: auto;
    height: auto;
}
#welcome{
    display:block;
    width:20vw;
    height: auto;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
form{
    position: relative;
    padding-left: 3vw;
    top: 10%;
    width: 94%;
    height:45%;
    background-color:rgba(99, 99, 99, 0.45);
    border-radius: 2.75rem 0rem 0rem 2.75rem;
}
input{
    box-sizing: border-box;
    background-color:#363636;
    border:none;
    width:15vw;
    height:4vh;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    color:white;
    outline:none;
}
input:focus{
    outline:black solid;
}
#circles{
    position:relative;
    bottom:50vh;
    left:30vw;
    opacity: 0.45;
}
button{
    border:none;
    border-radius: 1rem;
    width:17vw;
    height:10vh;
    margin-top: 3%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    color:white;
    background-color: pink;
    font-size: 2vw;
}
label{
    color:#ba9558;
    font-size: 2vw;
}
#email{
    width:23vw;
}
#password,#conPassword{
    width:21vw;
}