@import url(https://db.onlinewebfonts.com/c/0ddd355012a1ac3b118d3a1cf6813eab?family=Aller+Bold);
*{
    font-family: "Aller Bold";
}
html, body
{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#container{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    display:flex;
}
#gradient{
    position:relative;
    background: linear-gradient(91deg, rgba(54, 54, 54, 0.03) -24.94%, #3C3C3C 99.37%);
    width:50%;
    height:100%;
}
#formContainer{
    width:50%;
    height:100%;
    background-color: rgba(54,54,54,0.97);
}
.bg{
    top:0%;
    left:0%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
}
#osuLogo{
    display:block;
    width: 25%;
    margin-left:auto;
    margin-right: auto;
    height: auto;
}
#welcome{
    display:block;
    width:35%;
    height: auto;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
form{
    position: relative;
    padding-left: 3vw;
    top: 10%;
    width: 94%;
    height:45%;
    background-color:rgba(99, 99, 99, 0.45);
    border-radius: 2.75rem 0rem 0rem 2.75rem;
}
input{
    box-sizing: border-box;
    background-color:#363636;
    border:none;
    width:25%;
    height:8%;
    border-radius: 0.4rem;
    font-size: 100%;
    padding-left: 1rem;
    color:white;
    outline:none;
}
input:focus{
    outline:black solid;
}
button{
    border:none;
    border-radius: 1rem;
    width:35%;
    height:20%;
    margin-top: 2%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    color:white;
    background-color: pink;
    font-size: 200%;
}
label{
    color:#ba9558;
    font-size: 200%;
}
#email{
    width:50%;
}
#password,#conPassword{
    width:35%;
}
.hide{
    top:0%;
    left:0%;
    position: relative;
    width:100vw;
    height:100vh;
}
#hideCon{
    position:absolute;
    width:100%;
    height:100vh;
    z-index: 1;
    overflow:hidden;
}